<div align="center">
    <form method="post" action="" enctype="multipart/form-data"
          id="myform">

        <div >

            <input type="hidden" id="id_grupo" name="id_grupo" value="{{ID_GRUPO}}" />
            <input type="file" id="uploadedFile" name="uploadedFile" />
            <input type="button" class="button" value="Upload"      id="but_upload">
        </div>
    </form>
</div>

<script type="text/javascript">
   // $(document).ready(function() {
        $("#but_upload").click(function() {
            var fd = new FormData();
            var files = $('#uploadedFile')[0].files[0];
            fd.append('uploadedFile', files);

            $.ajax({
                url: 'export-php/upload.php',
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                success: function(response){
                    if(response != 0){
                       // alert('file uploaded');
                        ver_form_modificar("grupo",$('#id_grupo').val());
                    }
                    else{
                        alert('file not uploaded');
                    }
                }
            });
        });
  //  });
</script>