<table id="example" class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0" width="100%">
<thead> <tr>
<th>descripcion</th>
<th>motivo</th>
<th></th></thead>
<tbody>
{% for num in CAMPOS %}
<tr><td>{{num.descripcion}}</td><td>{{num.motivo}}</td><td><button type="button" class="btn btn-default" onclick="ver_form('grupo_x_ot',{{num.}})"><span class="glyphicon glyphicon-search"></span></button><button type="button" class="btn btn-primary" onclick="ver_form_modificar('grupo_x_ot',{{num.}})"><span class="glyphicon glyphicon-pencil"></span></button><button type="button" class="btn btn-danger" onclick="borrar('grupo_x_ot',{{num.}})"><span class="glyphicon glyphicon-remove"></span></button></td></tr>{% endfor %}
</tbody>
</table>
