<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <div class="card">
        <div class="header">
            <h2>
                Grupo_ot Nro {{ CAMPOS.|e }}
            </h2>
        </div><div class="body">
<form id="myForm" action="app/" method="post">
<input type="hidden" name="tabla" value="grupo_ot"><input type="hidden" name="accion" value="add"><div class="form-group form-float">
                                        <div class="form-line">
                                           <input type="number" class="form-control input-control" id="id_grupo_ot" name="id_grupo_ot" aria-describedby="emailHelp"  placeholder=""  value="{{ CAMPOS.id_grupo_ot|e }}">
                                            <label class="form-label">idGrupoOt</label>
                                        </div>
                                    </div><div class="form-group form-float">
                                        <div class="form-line">
                                           <input type="number" class="form-control input-control" id="ot" name="ot" aria-describedby="emailHelp"  placeholder="" required value="{{ CAMPOS.ot|e }}">
                                            <label class="form-label">ot</label>
                                        </div>
                                    </div><div class="form-group form-float">
                                        <div class="form-line">
                                           <input type="number" class="form-control input-control" id="id_grupo" name="id_grupo" aria-describedby="emailHelp"  placeholder="" required value="{{ CAMPOS.id_grupo|e }}">
                                            <label class="form-label">idGrupo</label>
                                        </div>
                                    </div><div class="form-group form-float">
                                        <div class="form-line">
                                           <input type="text" class="form-control input-control" id="fchalta" name="fchalta" aria-describedby="emailHelp"  placeholder=""  value="{{ CAMPOS.fchalta|e }}">
                                            <label class="form-label">fchalta</label>
                                        </div>
                                    </div><button  class="btn btn-primary" type="submit">Guardar</button><a  href="javascript:void(0)" class="btn btn-primary" onclick="ver_tabla('grupo_ot')">Regresar</a></form></div>
</div>
        </div>