<table id="example" class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0" width="100%">
<thead> <tr>
<th>id_material</th>
<th>codigo</th>
<th>desc_material</th>
<th>observacion</th>
<th>umb</th>
<th></th></thead>
<tbody>
{% for num in CAMPOS %}
<tr><td>{{num.id_material}}</td><td>{{num.codigo}}</td><td>{{num.desc_material}}</td><td>{{num.observacion}}</td><td>{{num.umb}}</td><td><button type="button" class="btn btn-default" onclick="ver_form('materiales',{{num.id_material}})"><span class="glyphicon glyphicon-search"></span></button><button type="button" class="btn btn-primary" onclick="ver_form_modificar('materiales',{{num.id_material}})"><span class="glyphicon glyphicon-pencil"></span></button><button type="button" class="btn btn-danger" onclick="borrar('materiales',{{num.id_material}})"><span class="glyphicon glyphicon-remove"></span></button></td></tr>{% endfor %}
</tbody>
</table>
