<div class="body">
    <div class="table-responsive">
<table id="example" class="table table-bordered table-striped table-hover js-basic-example dataTable" cellspacing="0" width="100%">
<thead> <tr>
<th>#</th>
<th>id_template</th>
<th>desc_template</th>
<th>observacion</th>
<th>titulo</th>
<th></th></thead>
<tbody>
{% for num in CAMPOS %}
<tr><td>{{num._id}}</td><td>{{num.id_template}}</td><td>{{num.desc_template}}</td><td>{{num.observacion}}</td><td>{{num.titulo}}</td><td><button type="button" class="btn btn-default" onclick="ver_form('template',{{num._id}})"><span class="glyphicon glyphicon-search"></span></button><button type="button" class="btn btn-primary" onclick="ver_form_modificar('template',{{num._id}})"><span class="glyphicon glyphicon-pencil"></span></button><button type="button" class="btn btn-danger" onclick="borrar('template',{{num._id}})"><span class="glyphicon glyphicon-remove"></span></button></td></tr>{% endfor %}
</tbody>
</table>
</div>
</div>
